@import '../../../vars.scss';
.input {
  background: $gray;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 15px;
  width: 100%;
  border: 0;
  outline: 0;
  color: $white;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  @include xl {
    height: 42px;
   }
   @include lg {
    height: 36px;
    font-size: 14px;
   }
}
