@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
#root {
  background: #151619;
  color: white;
  min-height: 100vh;
  padding-top: 30px;
}
.card {
  background: #22242A;
}
.card:hover {
      transition: all .25s;
  transform: scale(1.02);
}
a, a:hover {
  color: white;
  text-decoration: none;
}

.pagination {
  font-size: 30px;
  display: flex;
  align-items: center;
}

.pagin{
  text-decoration: none;
  color: white;
}

.pagination li.active {
  width: 60px;
  text-align: center;
}
.disable {
  color: #22242A;
  cursor: not-allowed;
}
.disable:hover {
  color: #22242A;
  cursor: not-allowed;
}